{% extends "base.html" %} {% block title %}Send Brian a Message{% endblock title %} {% block body_content %}

<style>
  .btn:not([disabled]) .spinner-grow {
    display: none;
  }
</style>

<div class="container text-center mb-4">
  <h2>Send Brian a message on his Tidbyt.</h2>
</div>

<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-4">
      <form method="post" id="message-form">

        <div class="mb-3">
          <label for="MESSAGE_TEXT" class="form-label">Message Text</label>
          <textarea name="MESSAGE_TEXT" maxlength=100 class="form-control"
            placeholder="Type your message here."></textarea>
        </div>

        <div class="mb-3">
          <label for="HEX_COLOR" class="form-label">Font Color</label>
          <input type="color" id="HEX_COLOR" name="HEX_COLOR" value="#ad97ef" class="form-control form-control-color">
        </div>

        <div class="mb-3">
          <div class="form-label">
            <label for="SCROLL_SPEED" class="form-label">Scroll Speed</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="SCROLL_SPEED" id="scrollSpeed1" value="250">
            <label class="form-check-label" for="scrollSpeed1">slow</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="SCROLL_SPEED" id="scrollSpeed2" value="125" checked>
            <label class="form-check-label" for="scrollSpeed2">medium</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="SCROLL_SPEED" id="scrollSpeed3" value="0">
            <label class="form-check-label" for="scrollSpeed3">fast</label>
          </div>
        </div>

        <div class="mb-3">
          <label for="FONT" class="form-label">Font</label>
          <select name="FONT" id="FONT" maxlength="100" class="form-select">
            <option value="6x13" selected="selected">6x13</option>
            <option value="tb-8">tb-8</option>
            <option value="Dina_r400-6">Dina_r400-6</option>
            <option value="5x8">5x8</option>
            <option value="10x20">10x20</option>
            <option value="tom-thumb">tom-thumb</option>
            <option value="CG-pixel-3x5-mono">CG-pixel-3x5-mono</option>
            <option value="CG-pixel-4x5-mono">CG-pixel-4x5-mono</option>
          </select>
          <div class="form-text">
            <a href="https://github.com/tidbyt/pixlet/blob/main/docs/fonts.md">Font Examples</a>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-auto">
            <button id="submit-button" type="submit" class="btn btn-primary">
              <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
              <span class="text">Send Message</span>
            </button>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-auto" id="message-response-div"></div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center" id="stop_button">
    <div class="col-auto">
      <h2>Other Tidbyt actions:</h2>
    </div>

    <div class="col-auto">
      <button onclick="sendStop()" type="button" class="btn btn-danger" id="stop-button">
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        <span class="text">Tell Brian to stop talking.</span>
      </button>
    </div>
  </div>

  <div class="row justify-content-center" id="stop-response-div"></div>
</div>

<script>
  const IS_MOCKING = true;
  const mockDelay = (seconds) => new Promise((resolve) => setTimeout(resolve, seconds * 1000));

  const API_URL_ROOT = "https://api.brianwtracey.com";
  const apiFetch = async (path, options) => await fetch(`${API_URL_ROOT}/${path}`, options);
  const api = {
    stop: async () => {
      if (IS_MOCKING) {
        await mockDelay(2);
        return "Thanks for telling Brian to stop talking.";
      }

      const response = await apiFetch("stop");
      return await response.json();
    },
    message: async (body) => {
      if (IS_MOCKING) {
        await mockDelay(2);
        return { status: "success" };
      }

      const response = await apiFetch("message", {
        method: "post",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(body),
      });
      return await response.json();
    },
  };

  const elements = {
    message: { button: document.getElementById("submit-button") },
    stop: { button: document.getElementById("stop-button") },
  };
  elements.message.form = document.getElementById("message-form");
  elements.message.spinner = elements.message.button.getElementsByClassName("spinner-grow");
  elements.message.text = elements.message.button.getElementsByClassName("text");
  elements.message.response = document.getElementById("message-response-div");
  elements.stop.spinner = elements.stop.button.getElementsByClassName("spinner-grow");
  elements.stop.text = elements.stop.button.getElementsByClassName("text");
  elements.stop.response = document.getElementById("stop-response-div");

  const strings = {
    message: "Send Message",
    stop: "Tell Brian to stop talking.",
    sending: "Sending...",
  };

  const toggleButton = (name) => {
    elements[name].button.toggleAttribute("disabled");
    const isSending = elements[name].text.innerHTML === strings.sending;
    elements[name].text.innerHTML = isSending ? strings[name] : strings.sending;
  };

  const setResponseText = (name, text) => {
    elements[name].response.innerHTML = text;
    // clear response message after 5 seconds
    setTimeout(() => (elements[name].response.innerHTML = ""), 5000);
  };

  // sends the stop api request and displays the returned text
  const sendStop = async () => {
    toggleButton("stop");

    const text = await api.stop();
    setResponseText("stop", text);

    toggleButton("stop");
  };

  const sendMessage = async (event) => {
    event.preventDefault();

    toggleButton("message");

    const formData = new FormData(event.target);
    const formJSON = Object.fromEntries(formData.entries());
    const response = await api.message(formJSON);
    const text = response?.status === "success" ? "Message sent!" : "Failed to send message.";
    setResponseText("message", text);
    form.reset();

    toggleButton("message");
  };

  // add form submit listener with custom submission logic
  elements.message.form.addEventListener("submit", sendMessage);
</script>
{% endblock body_content %}
